<nav class="navbar navbar-expand-lg navbar-dark "
    style="background-color: #8d9fdd !important; display: flex; ;border-radius:0;">

    <a class="navbar-brand card-header" style="white-space: normal;" href="#">Estándar de visualizaciones
        de criptomonedas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id='nueva-vis' class="nav-link" [routerLink]="['/links']">Nueva visualización <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id='informacion' class="nav-link" [routerLink]="['/informacion']">Informaciones</a>
            </li>
        </ul>

    </div>

    <div class="col-1">
        <img src="../assets/images/Departamento de informatica.png" height="50"alt="Girl in a jacket"
            style="z-index: 0; float: right;" class="img-responsive">
    </div>


</nav>