<body style="margin-top:3%">



    <section>

        <div class="card centerCard" style='padding-bottom: 0%;color:white'>
            <h3 style="padding:6% 0% 0 3%"><b>Propiedades</b></h3>
            <div style="margin-left: 3%; display:flex">
                <hr style="width: 30%;height: 4px;color:black " />
            </div>
            <p style='padding: 0 3% 0 3%; text-align: justify;'>
                Las propiedades de una visualización es la información que se está recalcando en este. por ejemplo: si
                estamos haciendo una visualización que quiera mostrar el traspaso de dinero entre un conjunto de
                personas, quizás nos gustaría mostrar las transacciones como propiedad de un grafo.
                Acá <b>se utilizarán las siguientes 3 grandes categorías de propiedades:</b>
            </p>
            <div class="row" style="margin: 0 3%; padding-bottom: 2%;">
                <div class="col-4">
                    <b>Transacciones:</b> Esta se enfoca en mostrar la cantidad de movimientos que se hacen en una red y
                    las
                    cantidades (Movimientos de dinero, Cantidad de dinero)
                </div>
                <div class="col-4">
                    <b>Topología:</b> Se enfoca en mostrar cualidades propias de la visualización (centralidad de nodos,
                    grado
                    de salida/entrada de un nodo, etc...)
                </div>
                <div class="col-3" style="margin-right: 3% !important;">
                    <b>Moneda:</b> Muestra las propiedades que pertenecen a cualquier tipo de divisa de valor (Legalidad
                    y anonimidad )
                </div>
            </div>
            <div style="display:flex">
                <hr style="margin-left:3%;color:rgb(0, 0, 0); height: 4px;background-color:white ;" />
            </div>
            <div>
                <a [routerLink]="['/conceptos']">
                <i class="fas fa-long-arrow-alt-left fa-2x"
                    style="border-radius: 8px;padding:3px 8px;margin-left: 3%;margin-bottom: 5%;color:black;background-color: white;"></i>
                </a>
            </div>
        </div>


    </section>
    <!--   #############  INFORMACIONES POPUP   ######### -->

</body>