<section style="margin-top:0%">
    <div class="row container-fluid">
        <div id="left-side" class="col-4 " style="background-color: white;">

            <div class="center row d-flex text-center justify-content-center ">
                <div class="mt-4 mb-4">
                    <h3>Categoria</h3>
                </div>
                <!-- <div class="col-9 multiplechoice">
                    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" style="width: -webkit-fill-available;">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000000">
                                <p style="margin-top:revert;">Transacciones</p>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000000">
                                <p style="margin-top:revert;">Moneda</p>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000000">
                                <p style="margin-top:revert;">Topología</p>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <i class="fas fa-chevron-left fa-x" style="color:black"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <i class="fas fa-chevron-right fa-x" style="color:black"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div> -->
                <div class="col-9 dropdown  ">
                    <select class="form-select multiplechoice" aria-label="Default select example"
                        [(ngModel)]="categoria" (click)="cambiarPropiedades(categoria)"
                        style="width: -webkit-fill-available;padding-top: 1rem;padding-bottom: 1rem;">
                        <option selected>Escoge una</option>
                        <option>Transacciones</option>
                        <option>Moneda</option>
                        <option>Topología</option>
                    </select>
                </div>

                <div class="mt-4 mb-4">
                    <h3>¿Propiedad?</h3>
                </div>
                <div class="col-9 dropdown  ">
                    <select class="form-select multiplechoice" aria-label="Default select example"
                        [(ngModel)]="propiedad" (click)='print(propiedad)'
                        style="width: -webkit-fill-available;padding-top: 1rem;padding-bottom: 1rem;">
                        <option selected>Escoge una</option>
                        <option *ngFor="let n of propiedades">{{n}}</option>
                    </select>
                </div>


                <button [disabled]='flagAgregar' type="button" type="submit" (click)="addCanal()"
                    class="btn btn-primary col-8 me-2" style='margin-top: 20px;border-radius: 8px !important;' id="b2">
                    Agregar propiedad</button>
                <div style="justify-content: center; display:flex">
                    <hr />
                </div>
                <div *ngFor="let argumento of visualizacion ;index as i" class="mt-2"
                    style="TEXT-ALIGN: -WEBKIT-CENTER">
                    <div *ngIf="flagFirst==false" class="alert alert-primary end-0 row"
                        style="justify-content: space-between;display:flex;width:75%; border-radius: 8px !important; "
                        role="alert">
                        <div class="col-9" style="text-align: left;color:black">
                            <div class="col-12"><b>Categoria: </b>{{argumento[0]}}</div>

                            <div class="col-12"><b>Propiedad: </b>{{argumento[1]}}</div>


                        </div>
                        <div class="col-1">

                            <div class="vl" style=' height: 50px;'></div>
                        </div>
                        <div (click)='delete(i)' class="col-2" type="button" style='margin-top:3%'>

                            <span aria-hidden="true" style="color:black;">&times;</span>
                        </div>



                    </div>


                </div>


            </div>

        </div>
        <div *ngIf="flagFirst==true" id="right-side-true" class="col-8" style="background-color: grey;">
            <div *ngFor="let example of count" class="col-9 mx-auto" style="margin:3%; justify-self: normal;">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/Memoria - Arboles2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-50 start-50" style="font-weight: bolder;height: max-content;">
                Ingresa una propiedad para comenzar a mostrar ejemplos
                <div class="ml-auto"></div>
            </div>
            <div style='height: 514px;'>

            </div>
        </div>
        <div *ngIf='flagFirst==false' id='right-side-false' class='col-8 '>
            <div class="row">
                <div class="col-1 mt-4 mb-4">
                    <div class="vl" style='margin: 30px 10px 10px 10px; height: 450px;'></div>
                </div>
                <div class="col-10" style="text-align: -webkit-center;">
                    <div *ngFor='let vis of resultados ;index as i' class="card mt-4 mb-4" >
                        <img src={{vis.imagen}} class="card-img-top" alt="..." style='width:30% !important; align-self:center'>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-title"><b>{{vis.titulo}}</b></p>
                            
                                    <p style='margin-bottom: 0 !important;'><b>Propiedades: </b>{{resultados_prop}}</p>
                                    <p ><b>Canales: </b>{{vis.canales}}</p>
                                
                                
                            </div>

                            <p class="card-text">{{vis.descripcion}}</p>
                            <p >
                                <a class="SeeMore" data-bs-toggle="collapse" href="#collapseExample{{i}}" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    Ver mas <i class="fas fa-chevron-right"></i>
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample{{i}}">
                                <div class="card card-body SeeMore" style='border-color: black !important;'>
                                    <b>Estandar:</b>{{vis.descripcion}}
                                </div>
                            </div>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>