hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid rgb(124, 124, 124);
    margin: 1em 0;
    padding: 0;
    width: 90%;
}

.multiplechoice{
    color:black;
    background-color: #8d9fdd;
    border-style: solid;
    border-width: thin;
    border-color:black;
    border-radius: 8px;
    /* width: -webkit-fill-available; */
}

.vl {
    border-left: 1px solid black;
    min-height: 50%;
    height:90px
  }