<section style="margin-top:0%">
    <div class="row container-fluid">
        <div id="left-side" class="col-4 " style="background-color: white;">

            <div class="center row d-flex text-center justify-content-center ">
                <div class="mt-4 mb-4">
                    <h3>¿Categoria?</h3>
                </div>
                <!-- <div class="col-9 multiplechoice">
                    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" style="width: -webkit-fill-available;">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000000">
                                <p style="margin-top:revert;">Transacciones</p>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000000">
                                <p style="margin-top:revert;">Moneda</p>
                            </div>
                            <div class="carousel-item" data-bs-interval="10000000">
                                <p style="margin-top:revert;">Topología</p>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <i class="fas fa-chevron-left fa-x" style="color:black"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <i class="fas fa-chevron-right fa-x" style="color:black"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div> -->
                <div class="col-9 dropdown  ">
                    <select class="form-select multiplechoice" aria-label="Default select example"
                        [(ngModel)]="categoria" (click)="cambiarPropiedades(categoria)"
                        style="width: -webkit-fill-available;padding-top: 1rem;padding-bottom: 1rem;">
                        <option selected>Escoge una</option>
                        <option>Transacciones</option>
                        <option>Moneda</option>
                        <option>Topología</option>
                    </select>
                </div>

                <div class="mt-4 mb-4">
                    <h3>¿Propiedad?</h3>
                </div>
                <div class="col-9 dropdown  ">
                    <select class="form-select multiplechoice" aria-label="Default select example"
                        [(ngModel)]="propiedad" (click)='print(propiedad)'
                        style="width: -webkit-fill-available;padding-top: 1rem;padding-bottom: 1rem;">
                        <option selected>Escoge una</option>
                        <option *ngFor="let n of propiedades">{{n}}</option>
                    </select>
                </div>


                <button [disabled]='flagAgregar' type="button" type="submit" (click)="addCanal()"
                    class="btn btn-primary col-8 me-2" style='margin-top: 20px;border-radius: 8px !important;' id="b2">
                    Agregar</button>
                <div style="justify-content: center; display:flex">
                    <hr />
                </div>
                <div *ngFor="let argumento of visualizacion ;index as i" class="mt-2" style="TEXT-ALIGN: -WEBKIT-CENTER">
                    <div *ngIf="flagFirst==false" class="alert alert-primary end-0 row"
                        style="justify-content: space-between;display:flex;width:75%; border-radius: 8px !important; " role="alert">
                            <div class="col-9" style="text-align: left;color:black">
                                <div class="col-12"><b>Categoria: </b>{{argumento[0]}}</div>

                                <div class="col-12"><b>Propiedad: </b>{{argumento[1]}}</div>


                            </div>
                            <div class="col-1">

                                <div class="vl" style=' height: 50px;'></div>
                            </div>
                            <div (click)='delete(i)' class="col-2" type="button" style='margin-top:3%'>

                                <span aria-hidden="true" style="color:black;">&times;</span>
                            </div>



                    </div>


                    <!-- <button type="button" class="btn btn-primary">
                    {{canal}}    <span class="badge bg-secondary">&times;</span>
                    </button> -->
                </div>

                <div class="ml-auto" style="height:450px"></div>
            </div>

        </div>
        <div id="right-side" class="col-8 justify-content-center" style="margin-top:-3px;background-color: rgb(156, 156, 156)">
            <div *ngFor="let example of count" class="col-9 mx-auto" style="margin:3%; justify-self: normal;">
                <div class="card">
                    <img class="card-img-top" src="../assets/images/Memoria - Arboles2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-50 start-50" style="font-weight: bolder;">
                Ingresa una propiedad para comenzar a mostrar ejemplos
            </div>

        </div>


    </div>


</section>