.concept{
    border-style: solid;
    border-width: thin;
    padding: 2%;
}
.link{
    
    color:white
}
.link:hover{
    color:black
    
}

.activeUnderscore{
    text-decoration-line: underline;
}
.active{
    color:grey;
}